h1{
  color:black;
  font-size:50px;
}
#number{
  color:black;
  padding:4px 4px;background-color:#f2f0f0;
}
#convert-btn{
  color:black;
  background-color:#f2f0f0;
  padding:4px 4px;
}
#output{
  color:black;
  
  margin-left:50px;
  padding:4px 4px;
}

